# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
 version: 2
 renderer: networkd
 ethernets:
   ens4:
     dhcp4: no
     dhcp6: no
     addresses: [{{ internal_ip_address }}/24]
     nameservers:
       addresses: [8.8.8.8,8.8.4.4]
     routes:
       - to: 10.200.1.0/24
         via: 10.240.0.21
       - to: 10.200.2.0/24
         via: 10.240.0.22
       - to: 10.200.3.0/24
         via: 10.240.0.23
